<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>计算器</title>
    <script src="/vue.js"></script>
</head>

<body>
    <div id="app">
        <input type="text" v-model='a'>+<input type="text" v-model='b'>
        <button @click='handle'>点击计算</button>
        <input v-model='result'>
    </div>
    <script>
        new Vue({
            el: '#app',
            data: {
                a: '',
                b: '',
                result: ''
            },
            methods: {
                handle: function () {
                    //实现逻辑计算
                    this.result = parseInt(this.a) + parseInt(this.b);
                }
            }
        })
    </script>
</body>

</html>